.styled {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 00.9rem);
}

.styled thead tr {
    background-color: blueviolet;
    color: aliceblue;
    text-align: left;
}

.styled th,
.styled td {
    padding: 12px 15px;
}

.styled tbody tr {
    border-bottom: 1px solid green;
}